
body{
  background: url(background.jpg)
  no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}

header {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.head {
  float:left;
  color: #fff;
  font-family: cursive;
}

nav {
  float:right;
}
li{
  display: inline;
  padding: 16px;
}
li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.active{
  color: #ff9999;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-top: 1%;
  background-color: rgba(128,128,128,0.8);

}
h1 {
  color: #fff;
  font-family:cursive;
  text-align: center;
  margin-top: 5%;
  font-size: 45px;
}


 /*nav {
  width: 100%;
  height: 110px;
  background-color: grey;
} */
th, td {
  text-align: left;

}
ul {
  list-style-type: none;

}
 /*li {
  display: inline-block;
  float:left;
  padding: 30px;
  text-align: center;
} */
.button {
  background: #ff9999;
  outline: solid 2px white;
  border: solid 2px white;
  color: white;
  padding: 10px 15px;
  margin-left: 40%;
  text-decoration: none;
  width: 200px;
  margin-top: 50px;
  font-size: 22px;
  cursor: pointer;

}
.ul li {
  display: inline;
  margin-right: 8px;
}
.ul {
  display: none;
}
.table {
  margin-top: 50px;
  margin-left: 33%;
  border: 10px solid #ff9999;
  width: 33%;
}
.table th {
  padding-top: 20px;
  padding-left: 80px;
  text-align: center;
  font-size: 28px;
  font-family: cursive;
  margin: 30px;
  color: #fff;
}
.table tr,
td {
  text-align: left;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px
}

td {
  color: #fff;
  font-family: cursive;
}

.button1{
  background: #ff9999;
  color: white;
  padding: 10px 15px;
  margin-left: 37%;
  margin-bottom: 16%;
  text-decoration: none;
  margin-top: 30px;
  font-size: 22px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

/*confirmation page*/
h2 {
  color: #fff;
  font-family:cursive;
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
}
.thanks {
  margin-top: 2%;
  margin-bottom: 9%;
}
.container1{
  width: 60%;
  margin: auto;
  overflow: hidden;
  margin-top: 1%;
  background-color: rgba(128,128,128,0.8);
}

.button2{
  background-color: #ffcccc;
  color: #737373;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin-left: 30%;
  margin-bottom: 10%;
}
.button3{
  background-color: #ffcccc;
  color: #737373;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin-left: 8%;
  margin-bottom: 10%;
}
